.App {
    text-align: center;

    padding: 10px;

    h1 {
        font-size: 24px;
        margin: 10px 0px;
    }

    button {
        margin: 0px 20px;
    }

    .logo {
        width: 30px;
    }
}

.red {
    color: red;
}

.blue {
    color: blue;
}